<% permalink = config.url + config.root + post.path %>
<section id="intro">
    <div class="container">
        <div class="row col-md-offset-2">
            <div class="col-md-8">
    			<%- partial('post/meta') %>
                <h1><%- post.title %></h1>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
      		<%- post.content %>
            <div class="clearfix"></div>
            <hr class="nogutter">
        </div>
        <%- partial('post/navigation') %>
        <div class="col-md-8 col-md-offset-2 col-sm-24">
            <% if (post.comments && config.disqus_enable) { %>
            <section class="comments" id="comments">
              <h2>留言版</h2>
              <div id="disqus_thread">
                <noscript
                  >Please enable JavaScript to view the
                  <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
                >
              </div>
            </section>
            <% } %>
        </div>
    </div>
</section>

